body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #404040;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #C0C0C0;
  text-align: center;
}
.h{
  color: #fffdd0;

}
.hh{
  color: #fffdd0;
  max-width: 500px;
}
h2{
  color: #fffdd0;
}